# Ignore virtual environment directories
.venv/
env/
venv/

# Ignore log files
*logger

# Ignore temporary files or directories
tmp/
temp/

docker/mysql_data/
**/__pycache__/

.ipynb_checkpoints   

.idea